@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;0,700;1,300&display=swap');

html{
    background-color: #f2f2f2;
    font-family: 'Roboto Mono',sans-serif;
    scroll-behavior: smooth;
    display: flex;
}

body{
    margin: 0;
    padding: 0;
    transform: background-color 0.3s ease;

}

li {
    list-style: none;
    padding: 0.5em;
}

h1{
    font-style: italic;
}
h2{font-style: oblique;}

body.dark-mode a {
    text-decoration: none;
    color: #fff;
}

body a {
    text-decoration: none;
    color: #000
}

.highlight {
    color: #ff6347; /* Couleur tomate */
    font-weight: bold; /* Gras */
    /*background-color: #f0f8ff; !* Fond bleu clair *!*/
    /*padding: 2px 4px; !* Espacement interne *!*/
    border-radius: 4px; /* Coins arrondis */
}


p{
    margin-left: 1em;
}

.container {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.1em;
    padding-right: 1em ;
}


.full-description {
    display: none;
  }

/* Classe pour l'effet de secousse */
@keyframes shake {
    0%, 100% {
        transform: translateY(0);

    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateY(-5px)  ;
    }
    20%, 40%, 60%, 80% {
        transform: translateY(5px) ;
    }
}

.shake {
    animation: shake 1s;
}
/* Menu et button home*/


header{
    display: flex;
    align-items: center ;
    justify-content: flex-end;
    background-color: #f2f2f2;
    flex-shrink: 0;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}
.menu {
    display: flex;

    list-style: none;
}

.menu li {
    margin-left: 20px;

    cursor: pointer;
    outline: none;
    border-radius: 5px;
    text-decoration: none;

}


.menu li a {
    display: flex;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #000;
    padding: 10px 10px;
    border-radius: 5px;


}
/*A propos de moi*/
.pp {
    width: 20%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25) ;
}

body.dark-mode .pp{

    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.4);
}
.box1{
   display: flex;
   padding: 2em;
   justify-content: space-evenly;
    padding-bottom: 16em;

}

.box2{
    height: min-content;
}




.box1 p{
    line-height: 2rem;
}
.description_me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.description_me > :first-child{
    margin-right: auto;
}

.cv-bt a{
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    border-radius: 5px;

}
.dark-mode .cv-bt a{
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.4);
    background-color: rgb(0, 0, 0);
    color: #ffffff;

}
.cv-bt a:hover{
    transform: translateY(-7px);
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.4);
}

#background_mobil-inn{
    position: relative; /* Permet de positionner l'image correctement */
    top: 0;
    left: 0;
    width: 100%; /* S'étend sur toute la largeur de la div */
    height: 100%; /* S'étend sur toute la hauteur de la div */
    object-fit: cover; /* Assure que l'image remplit la div sans déformation */
    z-index: 0; /* S'assurer que l'image reste derrière les autres éléments */

}

#text-overlay{
    position: absolute;
    top: 20%;
    left: 0%;
    padding-left: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 40%;
    height: calc(100% - 40%);
}

.diagonal-cut {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 100%;
    background-color: #187745;
    clip-path: polygon(0% 0%, 30% 0%,60% 100%, 0% 100%);

}

#logo_mobil-inn{
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 0.5em;
    margin: 1em;
    transition: all 0.3s ease 0s;
    width: auto

}

#logo_mobil-inn:hover{
    transform: translateY(-7px);
}

#logo_mobil-inn img{
    width: 200px;
    height: auto;
}



/*Fin de A propos de moi*/

/*Portfolio*/
.linkprojects{
    display: flex;
    justify-content: center;
    padding-top: 40em;
}

.linkprojects a{
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    border-radius: 5px;

}
.dark-mode .linkprojects a{
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.4);
    background-color: rgb(0, 0, 0);
    color: #ffffff;

}
.linkprojects a:hover{
    transform: translateY(-7px);
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.4);
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
  }

  .item {
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .item h3 {
    font-size: 1.5rem;
    transition: all 0.3s ease;
  }

  .item img {
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease;
  }



  .item .description,
  .item .full-description {
    opacity: 1;
    transition: all 0.3s ease;
  }

  .dark-mode .item .full-description {
    color: #fff;

  }
  .item .full-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    background-color: #808080;
    border-radius: 15px;
    display: none;
    opacity: 0;
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.4);
    color: black;

  }

  .item.active .description {
    opacity: 0;
  }
  .item.active h3 {
    opacity: 0;
  }
  .item.active img {
    opacity: 0;
  }

  .item.active .full-description {
    display: flex;
    text-align: justify;
    justify-content: center;
    opacity: 0.9;
    padding: 1rem ;
  }
  .item img {
    width: 200px;

  }
.dark-mode .item img  {
    filter: invert(100%);
  }

.boxtest{
    opacity: 0;
}

#project1, #project2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project_description{
    align-self: center;
    margin-left: 2em;
}

#img_threeJS {
    width: 15em;
    transition: all 0.3s ease 0s;
    border-radius: 20px;

}

#img_threeJS:hover{
    transform: translateY(-7px);
    background: rgba(128, 128, 128, 0.3);
}

#img_event_config {
    width: 15em;
    transition: all 0.3s ease 0s;
    border-radius: 20px;

}

#img_event_config:hover{
    transform: translateY(-7px);
    background: rgba(128, 128, 128, 0.3);
}



.container_project{
    margin-bottom: 12em;
    margin-top: 12em;
    opacity: 0;
    transform: translateX(-50px); /* Une petite translation initiale */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#aboutMe{
    padding-bottom: 5em;
}

h1{
    padding-left: 2vh;
    font-size: xxx-large;
}

/*Fin Portfolio*/

.adresses{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
/*Début Contats*/
.adresses li a{
    transition: all 0.3s ease 0s;
    background: linear-gradient(to right, red,blue);
    background-size: 200% auto;
    color: #fff;
    transition: background-position 0.3s;
    border-radius: 5px;
    padding: 2px;
}

.adresses li a:hover{
    background-position: 100% 0;


}
.adresses li{
    margin: 10px;
}



/*Fin contacts*/

/*Début dark mode */
body.dark-mode .menu li a:hover {
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.4);
    color: #000000;
    background-color: #fff;
}

.menu li a:hover {
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;

    transform: translateY(-7px);
}
body.dark-mode .menu li a {
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.4);

}

.home-button {
    position: fixed;
    top: 15;
    left: 1em;



    z-index: 9999;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

body.dark-mode .home-button{
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.4);
}

.home-button:hover{
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);

}
body.dark-mode .home-button:hover{
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.1);
    color: #000;
    background-color: #fff;
}
/*Fin Menu et button home*/


body.dark-mode header a {
  background-color: #000;
  color: #fff;
}
body.dark-mode header  {
    background-color: #000;
    color: #fff;
  }
body.dark-mode {
    background-color: #000;
    color: #fff;
}

.svg-dark-mode path{
    stroke: white;
}




.dark-mode-button {
    width: 20px;
    height: 20px;
    padding: 20px 20px;
    margin: 0;
    border: none;

    background-color: transparent;
    border:#000;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    background-image: url("./images/icon/brightness.png"); /* Chemin vers l'icône claire */
    background-size:contain;

  }
  .dark-mode-button:hover{
    border-radius: 5px;
    transform: translateY(-7px);

  }

  body.dark-mode .dark-mode-button {
    background-image: url("./images/icon/night-mode.png"); /* Chemin vers l'icône sombre */
  }
/*Fin Dark mode */

/*Début Footer*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    background: #f2f2f2;
    padding: 0.75em;
    width: 4em;
    border-radius: 15px;

}


#container_btn_iut{
    height: fit-content;
    width: fit-content;
    margin: 1em auto;
    transition: all 0.3s ease 0s;
    padding-top: 5em;

}

#container_btn_iut:hover{
    transform: translateY(-7px);
}

#btn_iut{
    width: fit-content;
    height: fit-content;
}

/*Fin du Footer*/


